In [1]:
import helper_methods

In [2]:
helper_methods.get_stock_coint_pairs_from_db()

        id stock_one stock_two   pvalue       sector  ratio_stationarity
0        1      AAPL      INFY  0.04932   technology             0.04434
1        2      AAPL      SNPS  0.04729   technology             0.00253
2        3      MSFT      NVDA  0.03756   technology             0.16499
3        4       ACN      MSFT  0.00665   technology             0.00472
4        5      INFY      MSFT  0.02888   technology             0.28849
...    ...       ...       ...      ...          ...                 ...
1298  1299       RRX      SAIA  0.00461  industrials             0.18996
1299  1300       AOS      SAIA  0.02944  industrials             0.40672
1300  1301      LECO       WMS  0.03451  industrials             0.20254
1301  1302      CHRW       GWW  0.01262  industrials             0.06679
1302  1303      ALLE       MMM  0.04876  industrials             0.01572

[1303 rows x 6 columns]